@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  padding-bottom: 2px;
  overflow-x: auto;
  .row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }
  .row-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width : $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: 0;
    background: #f8f9fa;
    user-select: none;
  }
  .row-data{
    display: flex;
  }
  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: $info-cell-width;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    user-select: none;
  }

  .column > span{
    user-select: none;
    pointer-events: none;
  }
  .cell{
    min-width: $info-cell-width;
    width: $cell-width;
    height: 100%;
    padding: 5px;
    color: #111111;
    border: 1px solid #e2e3e2;
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    outline: none;

    &.selected{
      outline: 2px solid $primary-color;
      border: none;
      z-index: 2;
    }
  }


  .col-resize {
    @include resize();
    top: 0;
    z-index: 10;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .row-resize {
    @include resize();
    left: 0;
    z-index: 10;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}
